/* parent */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgoldenrodyellow;
    padding: 4rem 12rem 4rem 12rem;
}

h3{
    margin: 0;
}

hr{
    border: 2px solid black;
    border-radius: 4px;
}

/* input */
input, select, button, option{
    font-weight: bold;
    border: 2px solid black;
    border-radius: 4px;
    background: transparent;
}

input:hover, select:hover, button:hover{
    border: 2px solid black;
    border-radius: 4px;
}

input:focus, select:focus, button:focus{
    outline: 0;
    border: 2px solid gray;
}

hr{
    margin: 25px 0 25px 0;
}

.input-text, .input-number, .input-select, .btn-submit, .btn-book{
    margin: 0 2px 0 2px;
    padding: 4px;
}

.input-number{
    width: 60px;
    min-width: 40px;
    max-width: 2000px;
}

/* some book style */

.book-seperator{
    border: 3px solid black;
    border-radius: 8px;
    padding: 12px;
    margin: 12px 0 12px 0;
}

.title-book{
    font-style: italic;
    font-weight: 400;
}

.author-book{
    font-weight: bolder;
}

/*individual*/
.red{
  background-color: #EA4C46;
}

.green{
  background-color: #BFE3B4;
}

@media only screen and (max-width: 600px) {
    body{
        padding: 12px;
    }
}
