body,
html {
	font-family: "Courier New", Courier, monospace;
	margin: 0;
	padding: auto;
}

.header-section {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
}

.form-section {
	display: flex;
	justify-content: center;
	background-color: salmon;
	padding: 20px;
}

.form {
	display: flex;
	padding: 28px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form .read-form {
	display: flex;
}

.books-section {
	display: flex;
	flex-direction: column;
	background-color: khaki;
	align-items: center;
	min-height: 100vh;
}

.books {
	display: flex;
	justify-content: center;
	max-width: 70em;
	flex-wrap: wrap;
	gap: 3em;
}

.book {
	background-color: lightslategray;
	border: 2px solid black;
	border-radius: 4px;
	padding: 18px;
	width: 300px;
	max-height: 200px;
}

.footer-section {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
}

.disable {
	display: none;
}

/* something */
button,
input {
	background-color: antiquewhite;
	border: 2px solid black;
	border-radius: 4px;
	padding: 8px;
	font-weight: bold;
}

button:hover {
	background-color: black;
	color: white;
}

.div-btn {
	display: flex;
	gap: 5px;
}
